<div class="footer">
  <a href="https://www.linkedin.com/in/michael-alves-6206881bb/" target="_blank" rel="noopener noreferrer">Linkedin</a>
  <br>
  <a href="https://github.com/michaelalves204" target="_blank" rel="noopener noreferrer">Github</a>
</div>
