<div class="footer">
  <a href="https://www.linkedin.com/seuperfil" target="_blank" rel="noopener noreferrer">Linkedin</a>
  <br>
  <a href="https://github.com/seuusuario" target="_blank" rel="noopener noreferrer">Github</a>
</div>
