<div class="topnav" id="myTopnav">
  <a href="/posts" class="active">Home</a>
  <a href="/posts">posts</a>
  <a href="javascript:void(0);" class="icon" onclick="clickFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
