<%= render 'shared/navbar' %>

<div class="content">
  <h1>404 Not Found</h1>
  <p class="blog-text"> Sorry, the page you're looking for could not be found. </p>
</div>

<%= render 'shared/footer' %>
